@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-blog{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-blog-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-blog-button{
    margin-top: 10px;
    padding: 5px 10px;
}